#img_mod {
  max-height: 300px;
  max-width: 300px;
  padding-left: 350px;
}

body {
  background-image: url(assets/hot_matcha.jpg);
}

h1 {
  text-align: center;
}

h2 .center {
  text-align: center;
}

.form {
  background-color: rgb(73, 241, 73);
}

form {
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
